<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973194403832-jsr45748jv8aau9qeg5qu6e5nr2laerh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973194403832-jsr45748jv8aau9qeg5qu6e5nr2laerh</string>
	<key>API_KEY</key>
	<string>GOOGLE_API_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>973194403832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indratir.MVPExample</string>
	<key>PROJECT_ID</key>
	<string>my-dummy-db</string>
	<key>STORAGE_BUCKET</key>
	<string>my-dummy-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973194403832:ios:78dc761c4f7b137899800d</string>
	<key>DATABASE_URL</key>
	<string>https://my-dummy-db.firebaseio.com</string>
</dict>
</plist>